/* You can add global styles to this file, and also import other style files */
:host ::ng-deep [data-n-id='1'] rect {
    fill: #750000;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Helvetica;
}

#tree {
    width: 100%;
    height: 100%;
}

.menu {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline;
            list-style: none;
            padding: 0 20px;

            &:first-child {
                border-right: 1px solid #000;
            }

            a {
                text-decoration: none;
                font-weight: normal;

                &.active {
                    text-decoration: underline;
                    font-weight: bold;    
                }
            }
        }
    }
}